body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: rgb(219, 38, 38);
    padding: 10px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    margin: 20px;
}

.main {
    flex: 3;
}

.section {
    margin-bottom: 20px;
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.article {
    margin-bottom: 20px;
}

time {
    font-style: italic;
    color: #555;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font-size: 0.9em;
    color: #777;
}